@page
@model RazorHtmxWebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This application is attempting to be the 'simplist thing that will work' in demonstrating <b>Htmx</b> using a Web App with Razor pages.</p>

<p>Starting with the community editon of Visual Studio 2022, the base project template is 'ASP.NET Core Web App (Razor Pages)'</p>

<p>Three Navigation Links have been added to the base project: Hello World, Htmx Tests and About</p>

<p><b>Hello World</b> makes a simple hx-get change swapping Hi for Hello World</p>

<p><b>Htmx Tests</b> demonstrates hx-get and hx-post requests including using 'hx-vals' and 'form' to send data in the post body</p>

<p><b>About</b> contains this page</p>
<br />
<h4>Special Thanks to the following for getting me into the Htmx universe:</h4>
Pavel Osadchuk - Exploring htmx with Razor Pages - https://xakpc.info/htmx-dotnet
<br />
Khalid Abuhakmeh - HTMX for ASP.NET Core Developers - https://www.youtube.com/watch?v=uS6m37jhdqM
<br />
Chris Woodruff -  Boost Your Razor Pages with HTMX: Simplicity & Power - https://www.youtube.com/watch?v=si_U3Umqtm8
<br />
Raul Naupari - Developing Your First App with HTMX and .NET: Part I - https://blog.raulnq.com/developing-your-first-app-with-htmx-and-net-part-i
<br />
<br />
<h4>And general Razor Page concepts:</h4>
Mike Brind - https://www.learnrazorpages.com/